<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="icon" href="{{ STATIC_URL}}img/pi.ico">

        <title>Phyins Tools{% block title %}{% endblock %}</title>

        <!-- BEGIN: Bootstrap core CSS -->
        <link href="{{ STATIC_URL }}css/bootstrap-3.3.0.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/third-party/font-awesome-4.3.0.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/third-party/bootstrap-datetimepicker-4.7.14.min.css" rel="stylesheet">
        <!-- END: Bootstrap core CSS -->

        <!-- BEGIN: Custom core CSS -->
        <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet">
        {% block style %}{% endblock %}
        <!-- END: Custom core CSS -->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="{{ STATIC_URL }}html5shiv-3.7.2.min.js"></script>
          <script src="{{ STATIC_URL }}respond-1.4.2.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <nav class="navbar navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                {% include 'navbar.html' %}
            </div>
        </nav>

        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>

        <div id="modal-d" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
        <!-- Moment -->
        <script src="{{ STATIC_URL }}js/third-party/moment-2.10.2.min.js"></script>
        <!-- jQuery -->
        <script src="{{ STATIC_URL }}js/third-party/jquery-1.11.1.min.js"></script>
        <!-- Bootstrap -->
        <script src="{{ STATIC_URL }}js/bootstrap-3.3.0.min.js"></script>
        <script src="{{ STATIC_URL }}js/third-party/bootstrap-datetimepicker-4.7.14.min.js"></script>
        <!-- Noty -->
        <script src="{{ STATIC_URL }}js/third-party/noty-2.3.5.min.js"></script>
        <script src="{{ STATIC_URL }}js/third-party/noty.bootstrap-2.3.5.js"></script>
        <!-- Charts -->
        <script src="{{ STATIC_URL }}js/third-party/chart-1.0.2.min.js" charset="utf-8"></script>

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="{{ STATIC_URL }}js/third-party/ie10-viewport-bug-workaround.js"></script>

        <!-- Custom JS -->
        <script src="{{ STATIC_URL }}js/base.js"></script>
        {% if not user.is_authenticated %}
            <script src="{{ STATIC_URL }}js/auth.js"></script>
        {% endif %}
        {% block script %}{% endblock %}
    </body>
</html>
